/*------- All back ground colours------- */

    /*navigation bar*/
        .navigation {
          background-color: #ffffff
        }

        ::selection {
        color: #fff;
        background: #55674f;  /*green, on selection of the navigation bar items */
        }

  /*About us part */
        /* main bg */
            .bg-one {
        background-color: #ffffff;
        }

        /* Block bg */
        .about .block {
        background: #ebede8; /* light green */
        }

  /*feature intro me */

        .section-bg {
        background: #f1eae4; /* beige  */
        }


/*------- All Text colours and stuff------- */

          /*navigation bar, when scrolled down*/
        .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
          color: #ad513b /*red*/
        }

          /*navigation bar, normal colour*/
        .navbar-dark .navbar-nav .nav-link {
        color: #604c4c;   /*still have to be adjusted */
        }

  /*About us, de title*/
        .title h2 {
        color: #55674f;
        }

        .title h2 span {
        color: #55674f;  /* de "US" part, that is usually a different colour is now same, dark green */
        }
        
    /*Feauture*/
        /* know more link */
        .knowmore {
            text-align: center
        }
        /* Main text */

        body {
        color: #2385df;
        }

    /*blog*/
    section {
        background-color: #ffffff
}



 /*Analyze my diet, the text under the title*/
call-to-action p {
color: #e9e9e9;  /* depends on image behing what we should do for oclour */
}

.service-block, .block {
  border-radius:10px
}

.service-block {
  background-color: red /* change colour of the service blocks that link to the service */
}
  

/*------- Small details------- */


    /* the highlight bottom border in the about us/services block */
        .about .block:hover {
            border-bottom: 5px solid #ad513b /*red*/
        }

 /* the little line under de H2 titles */
        .border-meghna:before {
        background-color: #ad513b /*red*/
        }
