/*------- All back ground colours------- */

    /*navigation bar*/
        .navigation {
          background-color: #ffffff
        }

        ::selection {
        color: #fff;
        background: #55674f;  /*green, on selection of the navigation bar items */
        }

  /*About us part */
        /* main bg */
            .bg-one {
        background-color: #ffffff;
        }

        /* Block bg */
        .about .block {
        background: #ebede8; /* light green */
        }

  /*feature intro me */

        .section-bg {
        background: #f1eae4; /* beige  */
        }

 /*blog */
          /*blog bg*/
           section {
               background-color: #ffffff
        }

    .post-block {
        background-color: #ebede8; /* light green */
        }

 /* Contact us */

        .contact-us.section-bg, footer.section-bg {
            background-color: #55674f /*dark green */
        }

        /* form */
        .form-meghna .form-control {
            background-color: #ebede8;
            color: #393b3f;
        }

        .form-meghna input:hover, .form-meghna textarea:hover {
            border-color:#ebede8

        /* button contact us submit */
             #contact-submit {
        border: 1px solid rgba(236,239,241,.07);
        background: #698161;
        }

        #contact-submit:hover {
            border-color: #ebede8;
            background: #ebede8;
            color:#393b3f
        }


/*------- All Text colours and stuff------- */

          /*navigation bar, when scrolled down*/
        .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
          color: #ad513b /*red*/
        }

          /*navigation bar, normal colour*/
        .navbar-dark .navbar-nav .nav-link {
        color: #604c4c;   /*still have to be adjusted */
        }

  /*About us, de title*/
        .title h2 {
        color: #55674f;
        }

        .title h2 span {
        color: #55674f;  /* de "US" part, that is usually a different colour is now same, dark green */
        }
        
    /*Feauture*/
        /* know more link */
        .knowmore {
            text-align: center
        }
        /* Main text */

        body {
        color: #393b3f;  /* dark grey colour */
        }

 
}



 /*Analyze my diet, the text under the title*/
call-to-action p {
color: #e9e9e9;  /* depends on image behing what we should do for oclour */
}

.service-block, .block, .post-block {
  border-radius:10px
}
            /* rounder corners of the image in the block of blog */
              .img-fluid {
            max-width: 100%;
            height: auto;
            border-radius: 10px 10px 0px 0px
            }
         



/*------------------------------- Small details--------------------------------- */


                /* "learn more" buttom at the start */
                .hero-area .block .btn-transparent {
                border-color: none
                }



                /* the highlight bottom border in the about us/services block */
                    .about .block:hover {
                        border-bottom: 5px solid #ad513b /*red*/
                    }

             /* the little line under de H2 titles */
                    .border-meghna:before {
                    background-color: #ad513b /*red*/
                    }

/*blog homepage related */

                    /* Blog post, border around "read more" button : misschien gewoon weg laten...
                .btn-transparent {
                border: 2px solid #ad513b; border-radius: 20px /*red*/

                    /* Blog post, the button */
                .btn {
                background-color: #55674f;
                color: #ffffff;
                border-radius: 30px;
                border-color: none
                }

                /* Blog post, the button, when hovering over it */
                    .btn-transparent:hover, .btn-transparent:focus {
                        background-color: #698161;
                        border: 1px solid transparent;
                        color:#fff
                        }

                 /* button, view all posts, main en hover */
                        .btn-main {
                        background: #ad513b;
                        color: #fff
                        }

                        .btn-main:hover {
                            background: #bf6d58; /*red*/
                            color: #fff
                            }

                  
