
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');

h2 {
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
  color: #393b3f;
}

h3 {
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
  color: #afbac4;
}


p {
  font-weight: 300;
  font-family: 'Nunito', sans-serif;
  color: #393b3f;
}


/*------- Logo in banner --------- */

img.bannerlogo {
  display: inline-block;
  width: 700px;
}

/*------- All back ground colours------- */

.hero-area {
    background-color: #fff
}

.hero-area:before {
    content: '';
    background: #fff
}




    /*navigation bar*/
        .navigation {
          background-color: #ffffff
        }

        ::selection {
        color: #fff;
        background: #55674f  /*green, on selection of the navigation bar items */
        }

  /*About us part */
        /* main bg */
            .bg-one {
        background-color: #ffffff
        }

        /* Block bg */
        .about .block {
        background: #f6f6f6 /*#ebede8; /* light green */
        }

  /*feature intro me */

        .section-bg {
        background: #f6f6f6 /*#f1eae4; /* beige  */
        }

 /*blog */
          /*blog bg*/
           section {
               background-color: #ffffff
        }

    .post-block {
        background-color: #f6f6f6  
        }

 /* Contact us */

        .contact-us.section-bg, footer.section-bg {
            background-color: #f6f6f6 /*#f6f6f6  /*#55674f /*dark green */
        }


        .title h2.custom-contact-us {
                        color: #393b3f
                    }

        /* form */
        .form-meghna .form-control {
            background-color: #fff; /* #ebede8; */
            color: #393b3f /*#393b3f */
        }

        .form-meghna input:hover, .form-meghna textarea:hover {
            border-color: #fff
        }

        .form-meghna ::placeholder {
            color:rgba(173, 81, 59, 0.65) !important /*placeholder text, red ish */
        }

        /* button contact us submit */
             #contact-submit {
        border: 1px solid rgba(236,239,241,.07);
        background: #f6f6f6; /*#698161 */
            color:  #393b3f
        }
 
        #contact-submit:hover {
            border-color: #f6f6f6; /*#ebede8; */
            background: #f6f6f6; /* #ebede8; */
            color: #393b3f
        }

     /* Social icon */
           
              .social-icon ul li {
                background-color: #f6f6f6;
                border-radius: 40px
            }

            /*normal color of the icon itself */
              .social-icon ul li a i{
                color: #b2b2b2;
                background-color: #f6f6f6;
                border-radius: 40px
            }

            .social-icon ul li a:hover {
                background:#87ba61 /*light green*/
            }

         


/*---------------------------------- All Text colours and stuff----------------------------------- */

          /*navigation bar, when scrolled down*/
        .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
          color: #ad513b /*red*/
        }

          /*navigation bar, normal colour*/
        .navbar-dark .navbar-nav .nav-link {
          font-weight: 600;
          font-family: 'Quicksand', sans-serif;
          color: #393b3f
        }

  /*About us, de title*/
        .title h2 {
        color: #393b3f /*#55674f */
        }

        .title h2 span {
        color: #393b3f /*#55674f;  /* de "US" part, that is usually a different colour is now same, dark green */
        }

        a { 
            color: #393b3f
        }
        
    /*Feauture*/
        /* know more link */
        .knowmore {
            text-align: center
        }

        /* Main text */

        body {
        color: #393b3f;  /* dark grey colour */
        }


            

 /*Analyze my diet, the text under the title*/
call-to-action p {
color: #e9e9e9;  /* depends on image behing what we should do for oclour */
}

.service-block, .block, .post-block {
  border-radius:10px
}
            /* rounder corners of the image in the block of blog */
              .img-fluid {
            max-width: 100%;
            height: auto;
            border-radius: 10px 10px 0px 0px
            }
         
 /*Blog area*/

         /*Blog title*/

        .post-block .content h3 a{
        font-weight: 500;
        font-family: 'Quicksand', sans-serif;
        color: #afbac4;
        }



/*------------------------------- Small details--------------------------------- */


                /* "learn more" buttom at the start */
                .hero-area .block .btn-transparent {
                border-color: transparent
                }



                /* the highlight bottom border in the about us/services block */
                    .about .block:hover {
                        border-bottom: 5px solid #ad513b /*red*/
                    }

/* when hovering over the services, the icon color */
a:hover {
color: #3e78bc;  /*blue*/
}

             /* the little line under de H2 titles */
                    .border-meghna:before {
                    background-color: #ad513b /*red*/
                    }

/*blog homepage related */

                    /* Blog post, border around "read more" button : misschien gewoon weg laten...
                .btn-transparent {
                border: 2px solid #ad513b; border-radius: 20px /*red*/

                    /* Blog post, the button */
                .btn {
                background-color: #b2b2b2; /*#55674f; */
                color: #ffffff;
                border-radius: 30px;
                border-color: transparent
                }

                /* Blog post, the button, when hovering over it, alsp the main Learn more buttom */
                    .btn-transparent:hover, .btn-transparent:focus {
                        background-color: #698161;
                        border: 1px solid transparent;
                        color:#fff
                        }

                 /* button, view all posts, main en hover */
                        .btn-main {
                        background: #ad513b;
                        color: #fff
                        }

                        .btn-main:hover {
                            background: #bf6d58; /*red*/
                            color: #fff
                            }

                  

